{{- if .Values.frontend.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "energy-pipeline.fullname" . }}-frontend
  labels:
    {{- include "energy-pipeline.frontend.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.frontend.replicaCount }}
  selector:
    matchLabels:
      {{- include "energy-pipeline.frontend.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "energy-pipeline.frontend.labels" . | nindent 8 }}
    spec:
      containers:
        - name: frontend
          image: "{{ .Values.frontend.image.repository }}:{{ .Values.frontend.image.tag }}"
          imagePullPolicy: {{ .Values.frontend.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          env:
            - name: INGESTION_API_HOST
              value: {{ include "energy-pipeline.fullname" . }}-ingestion-api
            - name: INGESTION_API_PORT
              value: {{ .Values.ingestionApi.service.port | quote }}
            - name: PROCESSING_SERVICE_HOST
              value: {{ include "energy-pipeline.fullname" . }}-processing-service
            - name: PROCESSING_SERVICE_PORT
              value: {{ .Values.processingService.service.port | quote }}
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 3
            periodSeconds: 5
          resources:
            {{- toYaml .Values.frontend.resources | nindent 12 }}
{{- end }}
