{{- if .Values.keda.enabled }}
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: {{ include "energy-pipeline.fullname" . }}-processing-scaler
  labels:
    {{- include "energy-pipeline.labels" . | nindent 4 }}
spec:
  scaleTargetRef:
    name: {{ include "energy-pipeline.fullname" . }}-processing-service
  minReplicaCount: {{ .Values.keda.minReplicaCount }}
  maxReplicaCount: {{ .Values.keda.maxReplicaCount }}
  triggers:
    - type: redis-streams
      metadata:
        address: {{ include "energy-pipeline.redisHost" . }}.{{ .Release.Namespace }}.svc.cluster.local:6379
        stream: {{ .Values.config.redisStream | quote }}
        consumerGroup: {{ .Values.config.consumerGroup | quote }}
        pendingEntriesCount: {{ .Values.keda.threshold | quote }}
{{- end }}
