apiVersion: v2
name: energy-pipeline
description: A Helm chart for the Energy Readings Pipeline
type: application
version: 0.1.0
appVersion: "1.0.0"

dependencies:
  - name: redis
    version: "18.6.1"
    repository: "https://charts.bitnami.com/bitnami"
    condition: redis.enabled
